<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Health</key>
	<array>
		<string>http://www.nytimes.com/services/xml/rss/nyt/Health.xml</string>
		<string>http://feeds.bbci.co.uk/news/health/rss.xml</string>
		<string>https://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=m&amp;output=rss</string>
	</array>
	<key>Sport</key>
	<array>
		<string>http://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=s&amp;output=rss</string>
		<string>http://www.nytimes.com/services/xml/rss/nyt/Sports.xml</string>
		<string>http://rss.cnn.com/rss/edition_worldsportblog.rss</string>
	</array>
	<key>Entertainment</key>
	<array>
		<string>http://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=e&amp;output=rss</string>
		<string>http://www.nytimes.com/services/xml/rss/nyt/Arts.xml</string>
		<string>http://www.bbc.com/news/10628494</string>
		<string>http://rss.cnn.com/rss/edition_entertainment.rss</string>
	</array>
	<key>Science</key>
	<array>
		<string>http://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=snc&amp;output=rss</string>
		<string>http://www.nytimes.com/services/xml/rss/nyt/Science.xml</string>
		<string>http://feeds.bbci.co.uk/news/science_and_environment/rss.xml</string>
		<string>http://rss.cnn.com/rss/edition_space.rss</string>
	</array>
	<key>Technology</key>
	<array>
		<string>http://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=tc&amp;output=rss</string>
		<string>http://www.forbes.com/technology/index.xml</string>
		<string>http://rss.nytimes.com/services/xml/rss/nyt/Technology.xml</string>
		<string>http://feeds.bbci.co.uk/news/technology/rss.xml</string>
		<string>http://rss.cnn.com/rss/edition_technology.rss</string>
	</array>
	<key>Business</key>
	<array>
		<string>http://www.forbes.com/business/index.xml</string>
		<string>http://feeds.nytimes.com/nyt/rss/Business</string>
		<string>http://feeds.bbci.co.uk/news/business/rss.xml</string>
		<string>http://rss.cnn.com/rss/money_news_international.rss</string>
	</array>
	<key>U.S.</key>
	<array>
		<string>http://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;topic=n&amp;output=rss</string>
		<string>http://www.nytimes.com/services/xml/rss/nyt/US.xml</string>
		<string>http://rss.cnn.com/rss/edition_us.rss</string>
	</array>
	<key>Lifestyle</key>
	<array>
		<string>http://www.forbes.com/feeds/popstories.xml</string>
		<string>http://www.nytimes.com/services/xml/rss/nyt/FashionandStyle.xml</string>
		<string>http://feeds.bbci.co.uk/news/rss.xml</string>
		<string>http://rss.cnn.com/rss/edition.rss</string>
	</array>
	<key>Politics</key>
	<array>
		<string>http://www.nytimes.com/services/xml/rss/nyt/Politics.xml</string>
		<string>http://feeds.bbci.co.uk/news/politics/rss.xml</string>
	</array>
	<key>World</key>
	<array>
		<string>https://news.google.com/news?cf=all&amp;hl=en&amp;pz=1&amp;ned=us&amp;output=rss</string>
		<string>http://feeds.bbci.co.uk/news/world/rss.xml</string>
		<string>http://rss.nytimes.com/services/xml/rss/nyt/World.xml</string>
		<string>http://www.forbes.com/feeds/popstories.xml</string>
		<string>http://rss.cnn.com/rss/edition_world.rss</string>
		<string>http://www.telegraph.co.uk/news/worldnews/rss</string>
	</array>
</dict>
</plist>
